.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-image {
  max-width: 150px;
  border-radius: 5px;
  margin-right: 20px;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  margin: 0;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-color: #1a73e8;
}

.delete-button {
  background-color: #e53935;
}

.delete-form {
  display: inline;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #1a73e8;
  text-decoration: none;
}
